from fastapi import APIRouter
from fastapi.responses import JSONResponse
{% if errors %}
from fastapi import HTTPException
{% endif %}
{% if delay %}
import time
{% endif %}

router = APIRouter()

{% for endpoint in endpoints %}
{{endpoint}}
{% endfor %}
