from fastapi import FastAPI
{% if cors %}
from fastapi.middleware.cors import CORSMiddleware
{% endif %}
{% for import in imports %}
{{ import}}
{% endfor %}

app = FastAPI()

{% if cors %}
origins= {{origins}}

app.add_middleware(
    CORSMiddleware,
    allow_origins=origins,
    allow_credentials={{credentials}},
    allow_methods={{methods}},
    allow_headers={{headers}},
)
{% endif %}

{% for route in routes %}
{{ route }}
{% endfor %}