from fastapi import FastAPI
{% if cors %}
from fastapi.middleware.cors import CORSMiddleware
{% endif %}
{% for import in imports %}
{{ import}}
{% endfor %}

app = FastAPI()

{% if cors %}
{{cors}}
{% endif %}

{% for route in routes %}
{{ route }}
{% endfor %}